<br><br>
<div class="container">
	<div class="col-md-4 form-group">
		<div class="row">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Insert Student's data</h3>
			  </div>
			  <div class="panel-body">
					<form>
						<input type='text' class="form-control" placeholder='dni' id='dni' />
						<input type='number' class="form-control" placeholder='average' id='average' />
						<input type='number' class="form-control" placeholder='payment' id='payment' />

						<input type='button' class="btn btn-success"  value='Calculate' onclick="calculate()" />
					</form>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Number of students by Grant</h3>
		  </div>
		  <div class="panel-body">
			  <div class="col-md-8">
					<canvas id="myChart" width="400" height="400"></canvas>
			  </div>
			  <div class="col-md-4">
			  	<ul name="list">
			  		
			  	</ul>
			  </div>
		  </div>
		</div>
	</div>
</div>

